/models
/build
/.venv
/reference

# Extensions

*.a
*.bat
*.bin
*.d
*.dll
*.dot
*.etag
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gguf.json
*.lastModified
*.log
*.metallib
*.o
*.so
*.swp
*.tmp
*.DS_Store

# IDE / OS

/.cache/
/.ccls-cache/
/.direnv/
/.envrc
/.idea/
/.swiftpm
/.vs/
/.vscode/
/nppBackup

# build artifacts

/tags
/.build/
/build*
/release
/debug
/out/
/tmp/
/autogen-*.md
/common/build-info.cpp

/.venv
__pycache__/
